<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pokefinder</title>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
</head>

<body>
  <section id="detail">
    <header>
      <img src="/images/pokemonLogo.svg" alt="" class="logo">
      <ul>
        <li>
          All
        </li>
        <li>My Favourites</li>
      </ul>
    </header>
    <main>
      <h1 class="title">Ivysaur</h1>
      <div class="tags">
        <span class="tag">ability1</span>
        <span class="tag">ability2</span>
      </div>
      <p class="about">
        lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, magnam quo accusamus quas sapiente
        provident sunt minima debitis consequuntur mollitia repudiandae sit reprehenderit, itaque dolorem unde eius quia
        quibusdam laudantium.
      </p>
      <button class="save-btn">
        <img src="/images/heart.svg" class="sm-icon" alt="save">
        <span>Save</span>
      </button>
    </main>
  </section>
  <section id="all">
    <form action="/filter"  method="POST">
    <div class="searchbar">
      <input id="search-input" type="text" name="pokemon" placeholder="Find pokemons by name">
      <button type="submit">
        <img src="/images/search.svg" alt="search" class="sm-icon">
      </button>
    </div>
    </form>
    <div class="grid-container">
      <div class="card">
        <img src="" alt="pokemon" class="pokemon">
        <h2>Pokemon Name</h2>
        <div class="tags">
          <span class="tag">ability1</span>
          <span class="tag">ability1</span>
        </div>
        <button>More details</button>
      </div>
    </div>
  </section>

 <script src="public/js/script.js" defer></script> 

</body>

</html>
