h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {}

header>ul {
  display: flex;
  gap: 1em;
}

header>ul>li {
  list-style: none
}

.logo {
  width: 8em;
  height: 8em;
}

.sm-icon {
  width: 1.5em;
  height: 1.5em;
}

